body{
    padding: 0px;
    margin: 0px;
    
}
#header{
    width: 100%;
    height: 700px;
    background: url(../image/header.jpg) no-repeat center center;
  
    background-size: cover;
    text-align: center; 
   
    
}

/* navigation bar*/
#navbarBox{
    background-color: white;
    margin: 0px;
    opacity: 1;
    
}
#navbar-nav{
    margin: 5%;
    float: right;   
}
#navItem > li > a{
     color: #aaaaaa;
     
}
#navItem > li > a:hover{
     border-bottom:  4px solid  #aaaaaa;;
     color: #EFEEE5;
     background-color: transparent;

}

		
/* navigation bar*/
#short-intro{
    width: 50%;
    padding: 2%;
    position: absolute;
    top: 200px;
    opacity: 0;
    color: #aaaaaa;
    font-size: 150%;
    
}
#short-intro h1{
    font-size: 400%;
    letter-spacing: -0.1em;
}
#short-intro a{
    font-size: 70%;
    color: white;
    font-weight: bold;
    
}
#short-intro a:hover{
   text-decoration: none;
   color: #dddddd;
}



/* main section */
.mainSection{
   background-color: #EFEEE5;
   padding: 5%;
   backgroundattachment: fixed;
}


.protBox{
    position: relative;
    border: 1px solid cadetblue;
    text-align: center; 
    margin: 2%;
   
}
#box2 , #box4{
    
}
.protBox img{
    width: 100%;
    height: 250px;
}

.protBox:hover{
    box-shadow: 2px 2px 5px  blueviolet;
}


#hiddenLink-1{
    background-color: white;
    height: 100%;
    width: 100%;
    background: url(../image/back.jpg) no-repeat center center;
    background-size: cover; 
    display: none;
    position: absolute;
    top: 0px;
    text-align: left;
    
}
.github-links , .firebase-links{
    position: absolute;
    display: inline;
    margin: 5%;
    top: 62% ;
    opacity: 1;
    color: white;
    background: deepskyblue;
    padding: 3%;
    font-size: 120%;
    border-radius: 20% 40%;
}
.github-links:hover , .firebase-links:hover{
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 30px 5px white;
}

#hiddenLink-1 > h1{
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 5%;
}
#hiddenLink-1 > .firebase-links{
    left: 65%;
}
 
 .firebase-links{
         
 }

#hiddenLink{
    position: absolute;
    display: none;
}

/* about section */
#about{
    position: relative;
    text-align: center;
    background: url(../image/about.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    color: white;
    font-size: 1.5em;
    width: 100%;
    height: 650px; 
 }
 #about-intro{
     opacity: 0;
 }
#about > div{
    background-color: midnightblue;
    
   
}
.about-col-1 , .about-col-2{
     height: 100%;
    padding-top: 20%;
}
.about-col-1{
    opacity: 0.97;
    
    border-right: 1px solid white;
}
.about-col-2{
     opacity: 0.8;
      
  
}



/* skills section */
#skills{
    
    background-color: #aaaaaa;
    padding: 0%;
    text-align: center;
}
#skills-head{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    background: #111111;
    border-bottom: 1px solid white;
}
#skills-body{
    padding: 5% 0% 5% 0%;
    background: #222222;
}
#col-skill-1{
    position: relative;
    left: -20%;
    opacity: 0;
}
#col-skill-2{
    opacity: 0;
    position: relative;
    right: -20%;
}
#skills-body > div > p{
    font-size: 2em;
    font-weight: bold;
    width: 70%;
    text-align: center;
    padding: 3%;
    opacity: .4;
    margin:  15px auto;
    background: #aaaaaa;
    border-radius: 50% 2%;
}
#status{
    background: white;
    width: 70%;
    top: -15px;
    margin:  0px auto;
    border: 1px solid beige;
    text-align: center;
    color: white;
}
#status div{
   width:  90%;
   padding: 0px;
    background: blue; 
}



/* contac section  start*/
#contact{
    background: url(../image/contactBackground.jpg) no-repeat center center;
   background-size: cover;
    padding: 10% 5% 10% 5%;
    background-color: darkgray;
    color: #333333;
  
}

.contact-input-field{
    width:  40%;
    height: 10%;
    color: black;
    margin: 2px 0px;
    padding: 1%;
    
    border-radius: 5px 5px ;
}
#email{
    width: 81%;
}

#massage{
    width:  81%;
    color: black;
    padding: 1%;
    margin-top: -15px;
    border-radius: 2px 5px ;
}
#massageBox{
    padding: 20% 5%; 
    opacity: 0;
   
}
#massageBox p{
    color: white;
   
}
   

#address{
    font-family: cursive;
    width: 80%;
    position: absolute;
    opacity: 0;
    background-color: white;
    padding: 10%;
    font-size: 90%;
    line-height: 2em;
}
#address h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
  
}
#address > h3 >b{
    border-bottom: 1px solid #000000;
}
/* contac section  End*/

/* footer section start*/
#footer{
    background-color: #000000;
    padding: 5%;
    padding-bottom: 2%;
}
.footerInside{
    border-bottom: 1px solid dimgray;
    padding: 20px;
}

.footerColum h3{
    margin-left: 15%;
    color: dimgray;
}
.footerColum ul{
    list-style: none;
    margin-left: 0px;
}
.connectIcon img{
    width: 10%;
    height: 10%;
    margin: 2px;
    color: black;
}
#copyRight p{
    color: dimgray;
    padding-top: 2%;
    display: inline;
   text-align: left;
}
#footer-nav{
    display: inline;
    float: right;
}
#footer-nav li{
    padding: 0%;
    display: inline;
}


/* footer section end*/